.header
    background #ccc
    height 100px
    text-align center

    &__logo
        text-decoration none
        display inline-block

    &__nav
        display inline-block
        padding 0

        &-item
            display inline-block
            margin 10px
