.list-item
    font-size 15px
    text-align center
    padding 30px
    margin 10px 0
    cursor pointer
    border-radius 2px
    background $bgItem
    transition all .3s

    &:hover
        transition all .3s
        background @background - 15%
